/* School of Medicine colours:

blue: #5f819e
light blue: #6dbcdb
gray: #757575

Bathing in the Sun
dark orange: #c14b22	(193,75,34)
light orange: #f28143	(242,129,67)
yellow: #fde033	(253,224,51)
deep sea: #106f7c	(16,111,124)
light blue: #2199c3	(33,153,195)

Muted neutral tones
navy: #27567b	(39,86,123)
dark red: #b63b3b	(182,59,59)
yellow: #f9c414	(249,196,20)
beige: #f7ebd8	(247,235,216)
dark gray: #505050	(80,80,80)
*/

/* Stuff for the barchart */
.bar_group .right rect{
    fill: #ffd700;
}
.bar_group .left rect{
    fill: #046282;
}

/* Stuff for the results screen */
.stop-left {
    stop-color: #2199c3;
}

.stop-center {
    stop-color: #1D9B30;
}
.stop-right {
    stop-color: #ffd700;
}

.filled {
    fill: url(#mainGradient);
}
