/* School of Medicine colours:

blue: #5f819e
light blue: #6dbcdb
gray: #757575

Bathing in the Sun
dark orange: #c14b22	(193,75,34)
light orange: #f28143	(242,129,67)
yellow: #fde033	(253,224,51)
deep sea: #106f7c	(16,111,124)
light blue: #2199c3	(33,153,195)

Muted neutral tones
navy: #27567b	(39,86,123)
dark red: #b63b3b	(182,59,59)
yellow: #f9c414	(249,196,20)
beige: #f7ebd8	(247,235,216)
dark gray: #505050	(80,80,80)
*/

body {
    margin: 0px;
    padding: 0px;

    background-color: white;
    color: #ffd700;
    font-weight:200;

    letter-spacing: 3px;

    font-family: "Josefin Sans", Roboto, Helvetica, Arial, sans-serif;

    overflow: hidden;
}

#header {

    width: 100%;
    height: 100px;
    padding: 20px 0px 0 0px;

    text-align: center;

    font-size: 64px;
    font-weight: 100;
    letter-spacing: 4px;
    color: #ffd700;


    background-color: #2199c3;

    vertical-align: middle;

    position:absolute;
    top:0px;
    z-index:2;
}

.emph {
    font-weight:bold;
}

#header img {
    height: 80px;
    width: auto;
}

#contents {
    width: 100%;
    height: auto;

    position:absolute;
    top:135px;
}

.visualisation {
    width: 35%;
    float:left;
    position:relative;
}

#stats {
    width:24%;
    height:500px;

    position:relative;

    float:left;

    margin: 20px 30px;

    background-color: white;
    color: #2199c3;

    /* border-left: 2px solid #505050;
    border-right: 2px solid #505050; */

}

.stat_content {
    z-index: 3;
}

.stat_content table {
    margin: 30px auto;
    width: 80%;
}

.stat_content table td {
    height: 30px;
    padding: 10px 0px;
    font-weight: bold;
}

#footer {
    position: fixed;
    bottom:0px;
    z-index:3;

    color: white;
    font-weight:400;

    font-size: 12pt;

    vertical-align: middle;

    padding: 0px 0px 0px 30px;

    height:80px;
    width: 100%;
    background-color:#2199c3;
}

#footer img {
    float: left;
    padding-left: 10px;
}

#sources {
    float:left;
    padding-top: 15px;
    padding-left: 30px;

    line-height:25px;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../font/JosefinSans-Light.ttf");
}
