/* School of Medicine colours:

blue: #5f819e
light blue: #6dbcdb
gray: #757575

Bathing in the Sun
dark orange: #c14b22	(193,75,34)
light orange: #f28143	(242,129,67)
yellow: #fde033	(253,224,51)
deep sea: #106f7c	(16,111,124)
light blue: #046282	(33,153,195)

Muted neutral tones
navy: #27567b	(39,86,123)
dark red: #b63b3b	(182,59,59)
yellow: #f9c414	(249,196,20)
beige: #f7ebd8	(247,235,216)
dark gray: #505050	(80,80,80)


Actual colours used:
Primary: white
Secondary: #046282
Ternary: #ffd700
*/

body {
    margin: 0px;
    padding: 0px;

    background-color: white;
    color: white;/*#ffd700;*/
    font-weight:200;

    letter-spacing: 3px;

    font-family: "Josefin Sans", Roboto, Helvetica, Arial, sans-serif;

    overflow: hidden;
}

#header {

    width: 100%;
    height: 100px;
    padding: 20px 0px 0px 0px;

    text-align: center;

    font-size: 40px;
    font-weight: 100;
    letter-spacing: 4px;
    /*color: #ffd700;*/
    color:white;


    /*background-color: #046282;*/
    background-color: #27567b;
    /* background-image: url('../img/cortana.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
    /* background-attachment:fixed; */
    /* background-position: 0% 300%; */

    vertical-align: middle;

    position:absolute;
    top:0px;
    z-index:2;
}

.emph {
    font-weight:bold;
}

#header img {
    height: 80px;
    width: auto;
}

#contents {
    width: 100%;
    height: auto;

    position:absolute;
    top:120px; /* This should always be the total height of the header */
}

.visualisation {
    width: 50%;
    height:2000px;
    float:left;
    position:relative;
}

.cover {
    width:100%;
    height:100%;
    background-color: #27567b;
    position:absolute;
    overflow:hidden;
}

.cover_info {
    margin:auto;
    width:90%;
    height:50%;
    color: white; /*#ffd700;*/
    position:relative;
}

.visualisation svg{
    position:absolute;
    width:100%;
    height:100%;
}

#footer {
    position: fixed;
    bottom:0px;
    z-index:3;

    color: white;
    font-weight:400;

    font-size: 12pt;

    vertical-align: middle;

    padding: 0px 0px 0px 30px;

    height:80px;
    width: 100%;
    background-color:#27567b;
}

#footer img {
    float: left;
    padding-left: 10px;
}

#sources {
    float:left;
    padding-top: 15px;
    padding-left: 30px;

    line-height:25px;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../font/JosefinSans-Light.ttf");
}
